{% extends 'AntispamBundle::main.html.twig' %}
{% block title %}Spambox{% endblock %}
{% block page_title %}Spambox{% endblock %}

{% block body %}
    {% if messages|length > 0 %}
    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
            {% for msg in messages %}
                <div class="list-group-item">
                    <small class="text-muted pull-right">{{ msg.date | date("d-m-Y") }}</small>
                    <strong style="font-size:12px;">{{ msg.from }}</strong>
                    <p style="font-size:11px; margin:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">{{ msg.subject[:60] }}</p>
                    <a href="{{ path('antispam_spambox_restore', {folder: 'SPAM', id: msg.id}) }}" class="btn btn-xs btn-success" style="margin-top:5px;">
                        <span class="glyphicon glyphicon-arrow-up"></span> Restore to Inbox
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body spamboxmsgcontent">
                    {{ messages.0.content | raw }}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="empty-state">
        <span class="glyphicon glyphicon-inbox"></span>
        <p>Spambox is empty</p>
        <p class="text-muted">No spam messages found</p>
    </div>
    {% endif %}
{% endblock %}
