<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antispam simplified view</title>

    {# Bootstrap CSS from CDN #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    {# Custom CSS #}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"><a href="{{ path('antispam_index') }}">Toggle navigation</a></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('antispam_index') }}">Antispam</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('antispam_spambox_index') }}">Spambox<span class="sr-only"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuration<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('antispam_account_config') }}">Account </a></li>
                        <li><a href="{{ path('antispam_spam_config') }}">Spam filter settings</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Whitelists<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('antispam_emailwhitelist_index') }}">E-mail Whitelist</a></li>
                        <li><a href="{{ path('antispam_whitelist_index') }}">Domain Whitelist</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blacklists<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('antispam_blacklist_index') }}">Domain Blacklist</a></li>
                        <li><a href="{{ path('antispam_emailblacklist_index') }}">E-mail Blacklist</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="row">
        <div class="col-xs-12"><h2>{% block title %}{% endblock %}</h2></div>
    </div>


{% block body %}
{% endblock %}
</div>

{# jQuery and Bootstrap JS from CDN #}
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
